<form action="/bookmarks" method="post">
  <label for="url">
    Please enter the URL:
    <input type="text" name="url">
    </label><br>
    <button name="submit" value="Submit">Submit</button>
</form>
