<form action="/bookmarks/<%= @bookmark_id %>" method="post">
<input type='hidden' name='_method' value='patch'/>
<label for="title">
  Please enter the Title:
  <input type="text" name="title">
  </label><br>
<label for="url">
  Please enter the URL:
  <input type="text" name="url">
  </label><br>
  <button name="submit" value="Submit">Submit</button>
</form>
